<footer>
    <div class="center footer">
      &copy; 2019 - Todos os direitos reservados.
      <br>
    <strong>PWII - Portal Condomínio Village Center</strong>
    <br>
    Gieder Oliveira de Loreto
      
    </div>
  </footer>
  </body>
  
  </html>