<% include ./header.ejs %>
  <section id="principal">
    <div class="panel panel-default">
      <div class="panel-heading">Entre em contato conosco</div>

      <ul class="list-group">
        <li class="list-group-item negrito">Formulário de contato</li>
      </ul>
      <div class="panel-body">
        <form action="#" id="formExemplo" data-toggle="validator" role="form">
          <div class="form-group">
            <label for="textNome" class="control-label">Nome</label>
            <input id="textNome" class="form-control" placeholder="Digite seu nome..." type="text" required />
          </div>

          <div class="form-group">
            <label for="inputEmail" class="control-label">Email</label>
            <input id="inputEmail" class="form-control" placeholder="Digite seu e-mail" type="email"
              data-error="Por favor, informe um e-mail correto." required />
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <label for="textMensagem" class="control-label">Mensagem</label>
            <textarea id="textMensagem" class="form-control" placeholder="Digite a mensagem" type="text"
              required /></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </section>

<% include ./footer.ejs %>