<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/validator.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Residencial Village Center - Bagé RS</title>
</head>


<body>
  <header><h1>Bem vindo a Home page do Village Center</h1></header> 

    <nav class="navbar- navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Página Inicial</a></li>
            <li class="active">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Controle Acesso
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="acesso.html">Visitantes</a></li>
                <li><a href="#">Veículos</a></li>
                
              </ul>
            </li>
            <li class="active"><a href="#">Contato</a></li>
            <li class="active"><a href="login.html">Login</a></li>

            </ul>
        </div>
      </nav>
    <div class="container-fluid text-center">    
      <div class="row content">
       
        <div class="col-sm-10"> 
          <div class="text">
          <h1 class="jumbotron h1">RESIDENCIAL VILLAGE CENTER - Um pouco de sua história</h1>
          <p>
            O Residencial Village Center de Ba­gé, te­ve sua cons­tru­ção i­ni­cia­da em 4 de ja­nei­ro de 1995, pe­la Ve­ja En­ge­nha­ria Ad­mi­nis­tra­do­ra e In­cor­po­ra­do­ra de I­mó­veis Ltda., e faz par­te de uma sé­rie de "Vil­la­ges", sen­do os ou­tros: Vil­la­ge Cen­ter Pe­lo­tas I, II, III e IV; Vil­la­ge Cen­ter Li­vra­men­to; Vil­la­ge Cen­ter Ba­gé; Vil­la­ge Cen­ter Gra­va­taí e Vil­la­ge Cen­ter Rio Gran­de. A co­mer­cia­li­za­ção das u­ni­da­des fi­cou a car­go da CP As­ses­so­ria Imo­bi­liá­ria Ltda., sen­do que, as pri­mei­ras u­ni­da­des en­tre­gues fo­ram os a­par­ta­men­tos do blo­co 29, fa­to que o­cor­reu em ma­io de 1998.

          </br>Finda as obras, o Residencial Village Center de Canoas con­ta­va com 620 a­par­ta­men­tos e 420 bo­xes de es­ta­cio­na­men­to, sen­do 213 co­ber­tos e 207 des­co­ber­tos.
        </br>A primeira Assembléia Geral Ordinária, que constituiu o Condomínio Re­si­den­ci­al Vil­la­ge Cen­ter, o­cor­reu em 9 de fe­ve­rei­ro de 2000, con­vo­ca­da pe­la em­pre­sa cons­tru­to­ra (VEJA) e os (na épo­ca) Re­pre­sen­tan­tes Pro­vi­só­ri­os dos blo­cos 27, 28, 29 e 30. Nes­ta As­sem­bléia o­cor­reu a e­lei­ção do pri­mei­ro sín­di­co e sub-sín­di­co, as­sim co­mo do pri­mei­ro Con­se­lho Con­sul­ti­vo e Re­pre­sen­tan­tes de Blo­cos, que ti­ve­ram co­mo uma de suas prin­ci­pais ta­re­fas, re­di­gir a Con­ven­ção e Re­gu­la­men­tos do Con­do­mí­nio, que se­riam, após de­ba­tes, aprovados em Assembléia posterior.
      </br>    O Condomínio Residencial Village Center, apesar de contar com quase duas dé­ca­das de e­xis­tên­cia des­de sua cria­ção, con­ti­nua se a­dap­tan­do e se es­tru­tu­ran­do a­tra­vés da par­ti­ci­pa­ção de sua co­mu­ni­da­de, pa­ra tor­nar-se um lo­cal a­pra­zí­vel e se­gu­ro pa­ra se vi­ver e pros­pe­rar. Ca­da ad­mi­nis­tra­ção que por ele pas­sou, pro­ta­go­ni­zou a­van­ços, al­guns mais, ou­tros me­nos, po­rém to­dos eles so­ma­ram. Mui­to ain­da há que ser fei­to, e mui­tos ain­da vi­rão pa­ra fa­zê-lo. O cer­to é que, a Co­mu­ni­da­de Vil­la­ge, a­tra­vés de seus apo­ios e suas o­po­si­ções, con­tri­bu­em pa­ra que os a­van­ços e cor­re­ções de ru­mo o­cor­ram, dan­do e­xem­plo da prá­ti­ca da de­mo­cra­cia.
          </p>
        </div>
          <hr>
        </div>
        <div class="col-sm-2 sidenav">
          <div class="well">
            <img src="img/portaria.jpg" class="img-thumbnail" alt="portaria"> 
            <img src="img/logo.jpg" class="img-thumbnail" alt="defend sistemas"> 
            <img src="img/gremio.png" class="img-thumbnail" alt="defend sistemas"> 
            <img src="img/guarany.jpg" class="img-thumbnail" alt="defend sistemas"> 

          </div>
        </div>
      </div>
    </div>
    
    <footer>
      <div class="modal-footer">
      <p>Residencial Village Center Bagé - RS.  <br> "Website" desenvolvido por Gieder Loreto,
      Copyright - Todos os direitos reservados.</p>
      </div>
    </footer>
    
    </body>
    </html>
    